<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1.0">
	<title>TITLE</title>
	<style>
		body {
			max-width: 60ex;
			margin: 20vh auto 0;
			font-family: monospace;
			font-size: xx-large;
			background: #eae5dc;

			border: dodgerblue solid 0.3ex;
			border-style: solid none;
			padding: 2ex 0
		}

		h1,
		#p {
			display: table;
			padding: 0.2em 0.5em;
			background: #FFF
		}

		a {
			color: #06C;
			text-decoration: none
		}

		a:hover {
			color: #00B;
			text-decoration: underline
		}
	</style>
</head>

<body>
	<h1>TITLE</h1>